*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    display: flex;
}
.operation{
    display: flex;
    height: 100vh;
    width: 50vw;
    background-image: linear-gradient(45deg,rgb(7, 72, 146),red);
}
.history{
    /* display:block; */
    height: 100vh;
    width: 50vw;
    transform: translate(10vw,0vh);
    background-image: linear-gradient(145deg,red,rgb(7, 72, 146));
    /* border: 10px solid black;    */
}
.input{
    display: flexbox;
    border: 1px solid black;
    border-radius: 10%;
    height: 20vh;
    width: 20vw;
}