body{
    background-color: rgb(0, 0, 0);
}
input{
    background-color: rgb(27, 26, 26);
    border: none;
    color: white;
    width: 24vw;
    height: 10vh;
}
#box{
    padding: 5vh;
    transform: translate(30vw,10vh);
    width: 25vw;
}
.num{
    margin: 5px;
    font-size: 60px;
    background-color: rgb(27, 26, 26);
    border-radius: 90px;
    width: 70px;
    color: white;
}
#zero.num{
    width: 155px;
}
